$primary-color: #50d890;
$primary-color-lighter: #84e3b1;
$secondary-color: #4f98ca;
$secondary-color-lighter: #b3d4fc;
$secondary-color-darker:#5292f7;
$background-color: #effffb;
$text-color: #272727