@import "../utils/Colors.scss";

.cell { 
    background-color: white;
    border: 1px #eeeeee solid;
    box-sizing: border-box;
    color: $text-color;
    font-size: 14px;
    height: 25px;
    line-height: 15px;
    outline: none;
    overflow: hidden;
    padding: 4px;
    position: relative;
    text-align: left;
    width: 100px;
}

.cell--selected {
    border-color: $secondary-color;
    border: 2px $secondary-color-darker solid;
    box-shadow: 0 2px 6px 2px rgba(60,64,67,.15);
    outline-style: none;
}

.cell.header {
    background-color: $background-color;
    color: gray;
    display: inline-block;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
}
