@import '../utils/Colors.scss';

.header {
  align-items: center;
  background: $primary-color;
  color: white;
  display: flex;
  height: 70px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}

.header a {
  text-decoration: none;
}

.header__logo {
  display: flex;
  flex-direction: row;

  span {
    align-self: flex-end;
    margin: 0px;
    color: white;
    font-size:x-small;
    position: absolute;
    left: 80px;
  }
}

.header__img {
  margin-left: 5px;
  object-fit: contain;
  width: 200px;
}

.header__menu {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  outline: none;

  img {
    background-position: center;
    border-radius: 30px;
    margin: 5px;
    object-fit: contain;
    padding: 8px;
    transition: background 0.8s;
    width: 35px;
    &:hover {
      background: $primary-color-lighter
        radial-gradient(circle, transparent 1%, $primary-color-lighter 1%)
        center/15000%;
    }
    &:active {
      background-color: $background-color;
      background-size: 100%;
      transition: background 0s;
    }
  }
}
