@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
@import './utils/Button.scss';

$theme-font: 'Muli', sans-serif;

body {
  margin: 0;
  font-family: $theme-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #effffb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
